* {
  padding: 0;
  margin: 0;
}

:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Open Sans", sans-serif;
  --haiku-font-family: "Josefin Sans", sans-serif;
  --bg-color: #eeeeee;
  --card-color: #d9dad7;
  --button-color: #ffffff;
  --button-text: #000000;
  --button-hover: #000000;
  --button-hover-text: #ffffff;
  --text-color: #1a2639;
  --haiku-bg: #f9ecec;
  --haiku-button: #ffcbcb;
  --haiku-button-hover: #ffb5b5;
}

body {
  font-family: var(--default-font-family);
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/121/172/original/pexels-aleksandar-pasaric-2506923.jpg?1711803543);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 280px 0;
  font-family: var(--heading-font-family);
}

header h1 {
  font-size: 100px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header .button-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

header .button {
  font-family: var(--default-font-family);
  text-decoration: none;
  color: var(--button-text);
  background-color: var(--button-color);
  border: 2px solid #000000;
  border-radius: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 20px;
  text-decoration: none;
  margin: 0 10px;
  transition: background-color 300ms ease;
}

header .button:hover {
  background-color: var(--button-hover);
  color: var(--button-hover-text);
  border-color: #ffffff;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

/* Grids/layout */

section {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-1-1 {
  grid-template-columns: 1fr 1fr;
}
.grid-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-main {
  background: var(--card-color);
  width: 80%;
  padding: 30px;
  margin: 30px auto;
  border-radius: 15px;
  align-items: center;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.heading-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.4;
  text-transform: uppercase;
  margin: 0;
  font-family: var(--heading-font-family);
}

.sub-heading {
  font-weight: normal;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
}

.text-center {
  text-align: center;
}

hr {
  margin: 40px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* attractions */

section .secondary {
  padding: 100px;
  width: 90%;
}

.card {
  margin: 30px 0;
  background: var(--card-color);
  border-radius: 15px;
}

.card .grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 16/9;
}

.card-header .embed {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 20px;
}

.card-body h4 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.card-body h5 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

.card-footer {
  padding: 0 20px 20px;
}

.btn {
  display: block;
  border-radius: 15px;
  border: 2px solid #000000;
  color: var(--button-text);
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 14px;
  margin: 0 10px;
  text-decoration: none;
  transition: background-color 300ms ease;
}

.btn:hover {
  background-color: var(--button-hover);
  color: var(--button-hover-text);
  border-color: #ffffff;
}

/* videos */

.video {
  aspect-ratio: 16/9;
  width: 90%;
  margin: 0 auto;
}

.video-grid-1-1-1 {
  margin: 30px auto;
  padding: 0 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* Instagram posts */
.instagram-posts {
  margin: 30px 0;
  padding: 0 100px;
}

/* Music */

.music-body {
  width: 90%;
  margin: 30px auto;
}

/* Haiku */

form {
  display: flex;
}

.haiku-container {
  margin: 100px auto;
}

.form-generation {
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.form-container {
  font-family: var(--haiku-font-family);
  margin: 30px auto;
  max-width: 50%;
  background-color: var(--bg-color);
  border: 1px solid var(--haiku-button);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0 30px;
}

.search-field {
  color: var(--text-color);
  padding: 16px;
  border: 1px solid var(--haiku-bg);
  width: 100%;
  font-size: 18px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  font-weight: 700;
  background-color: var(--haiku-button);
  color: var(--text-color);
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 18px;
  width: 40%;
}

.submit-button:hover {
  background-color: var(--haiku-button-hover);
}

.hint {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-color);
  opacity: 0.8;
}

.generated-response {
  margin: 30px auto;
  font-size: 20px;
  padding: 10px;
  line-height: 1.5;
  border-left: 3px solid var(--haiku-button-hover);
  background-color: var(--bg-color);
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* Footer */
footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/122/132/original/pexels-pixabay-356830.jpg?1712423070");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px 100px;
  margin-top: 60px;
}

.footer-content {
  margin: 30px auto;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  line-height: 2;
}

footer a {
  color: #ffffff;
  font-size: 16px;
}

footer a:hover {
  color: #ffcbcb;
  font-size: 16px;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

footer h3 {
  font-size: 25px;
  line-height: 1.5;
  margin: 20px 0;
}

/* Media Queries */

@media only screen and (max-width: 650px) {
  .form-container {
    max-width: 70%;
  }

  .generated-response {
    font-size: 16px;
  }

  .form-generation form {
    flex-direction: column;
    align-items: center;
  }

  .search-field,
  .submit-button {
    width: 100%;
    margin-bottom: 10px;
  }
  .submit-button,
  .hint {
    margin-left: 0;
  }

  .instruction {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  header {
    padding: 150px 0;
  }

  header h1 {
    font-size: 60px;
  }

  header h2 {
    font-size: 30px;
  }
  header .button-container {
    flex-wrap: wrap;
    margin-top: 80px;
  }

  header .button {
    margin: 5px;
    font-size: 16px;
    padding: 8px 12px;
  }

  section {
    padding: 30px 10px;
  }

  .container {
    width: 90%;
    padding: 0 20px;
  }

  .grid {
    grid-gap: 15px;
  }

  .grid-1-1,
  .grid-1-1-1,
  .video-grid-1-1-1 {
    grid-template-columns: 1fr;
  }

  .card img {
    display: none;
  }

  .music-body {
    width: 100%;
  }

  .instagram-container,
  .hr-hidden,
  .intragram-button {
    display: none;
  }

  footer {
    padding: 10px 20px;
  }
}
